.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    min-width: 550px;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: none;
}

.list-group-item .btn-cookie {
    margin-right: 5px;
    color: #e09f3e;
    border: none;
    background: #e2e1e1;
    transition: all 0.3s;

    &:hover {
        border: 1px solid;
        color: #f69c14;
    }
}

.list-group-item .btn-trash {
    color: #e5383b;
    border: none;
    background: #e2e1e1;
    transition: all 0.3s;

    &:hover {
        margin-right: 4px;
        color: #ff0004;
        border: 1px solid;
    }
}

.list-group-item .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: #ffd700;
    transition: all 0.3s;
    transform: translateX(30px);
    opacity: 0;
}

.list-group-item.like .fa-star {
    opacity: 1;
    transform: translateX(0);
}

.list-group-item.increase .btn-star {
    color: #aeaeae;
}

.list-group-item.increase .list-group-item-label,
.list-group-item.increase .list-group-item-input {
    color: #e09f3e;
}